* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* start header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header .navbar-nav .nav-link,
header .navbar-nav .nav-link,
header .navbar-brand {
  color: white;
}
header .navbar .nav-item.active a {
  color: #35a22c;
}
header .navbar .nav-item {
  position: relative;
  margin-left: 10px;
}
header .navbar .nav-item::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background: #35a22c;
  left: 0;
  bottom: 0;
}
header .navbar .nav-item:hover:before,
header .navbar .nav-item.active::before {
  width: 100%;
  transition: 0.5s;
}

/* end header */

/* start carousel */
#carousel .carousel-item {
  height: 100vh;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#carousel .carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}
#carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#carousel .carousel-caption h5 {
  font-size: 56px;
}
#carousel .carousel-caption p {
  font-size: 24px;
}
#carousel .carousel-indicators li.active {
  background-color: #35a22c;
}
/* end carousel */
/* start project */
.project__tabs .nav {
  justify-content: center;
}
.project__tabs .nav-pills .nav-link.active {
  background-color: #35a22c;
  border-color: #35a22c;
  color: white;
}
.project__tabs .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}
.project__tabs .card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border: none;
}
.project__tabs .card-body {
  border: 1px solid transparent;
  /* border: none; */
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  transition: 0.25s;
  border-top: none;
}
.project__tabs .card-body:hover {
  border: 1px solid #35a22c;
  border-top: none;
}
.project__tabs .card h5 {
  transition: 0.25s;
}
.project__tabs .card:hover h5 {
  color: #35a22c;
}

/* end project */
/* start experience */
#experience {
  background-image: url(./image/3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#experience ::before {
  content: "";
  position: absolute;
  background: rgb(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.experence__title {
  position: relative;
  z-index: 1;
}
/* end experiecne */
